<div class="container bg-ours">
  <div class="imagen-ours">
    <img src="../../../assets/img/contenidos/bg-ours.png" alt="">
  </div>
  <div class="text-ours">
    <h1 class="title">{{ title }}</h1>
    <p>En Algún Lugar Estudio es un estudio de diseño independiente creado en el 2012. Hemos expandido y diversificado nuestros servicios basados en las necesidades de nuestros clientes y socios comerciales, convirtiéndonos en un estudio multidisciplinario que intenta reposicionar los valores del diseño preservando la función, la creatividad y el carisma al desarrollar un plan sólido de comunicación para su marca.<p>
      <p>Nuestra empresa se basa en un compromiso personal, es por eso que nosotros, como fundadores, servimos como el contacto principal para cada cliente. Creemos que un buen diseño requiere una planificación adecuada para lograr los objetivos, pasión por ir más allá del propósito y, por supuesto, grandes dosis de imaginación para crear experiencias inolvidables.</p>
      <p>¡Todo lo que su marca necesita en un solo lugar, somos ese lugar!</p>
      <p><strong>EN ALGUN LUGAR</strong></p>

      <p class="link"><a href="www.enalgunlugar.com">www.enalgunlugar.com</a></p>
  </div>
</div>
