<div class="container bg-service">
  <h1 class="title text-service">{{ title }}</h1>
  <div class="content-service">
    <div class="text-web text-service">
      <p><strong>W. </strong>www.enalgunlugarestudio.com</p>
    </div>
    <div class="items-group" >
      <div class="items" *ngFor="let item of items">
        <h3>{{ item }}</h3>
        <div class="shapes">
          <div class="shape line1"></div>
          <div class="shape line2"></div>
        </div>
      </div>
    </div>
    <div class="text-bottom">
      <div class="text-email text-service">
        <p><strong>E. </strong>andrea@enalgunlugarestudio.com</p>
      </div>
      <div class="text-phone text-service">
        <p><strong>P. </strong>(+57) 310 865 8880</p>
      </div>
    </div>
  </div>
</div>
