<div class="container">
  <div class="bg-index">
    <div class="text-web">
      <p><strong>W. </strong>www.enalgunlugarestudio.com</p>
    </div>
    <div class="image">
      <img src="../../../assets/img/contenidos/bg-index.png" alt="home">
    </div>
    <div class="text-bottom">
      <div class="text-email">
        <p><strong>E. </strong>andrea@enalgunlugarestudio.com</p>
      </div>
      <div class="text-phone">
        <p><strong>P. </strong>(+57) 310 865 8880</p>
      </div>
    </div>
  </div>
</div>
