/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Kanit:800,800i,900,900i|Montserrat+Alternates:700,700i,800,800i,900,900i|Montserrat:300,300i,400,400i,500,500i,600,600i&display=swap');

// Variables
$breakpoint_tablet: 750px;
$breakpoint_desktop: 1360px;
$max_header_width: 1800px;

$dark-blue: #00000F;
$golden: #CCA70A;
$silver: #C0C0C0;
$purple: #2A002B;
$light-blue: #00AAFF;
$orange: #F4CE2C;
$black: #0C0C0C;
$gray: #606060;

$title-font: 'Kanit';
$main-font: 'Montserrat';
$sec-font: 'Montserrat Alternates';

// Fin Variables

// General
h1, h2, h3, h4, h5, h6 { font-family: $title-font;}
a, span, input {font-family: $sec-font;}
p, li, label, blockquote {font-family: $main-font;}

.title {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 7px 0px #0c3fec;
}
// texto comercial
.text-web {
  width: 4%;
  display: inherit;

  p {
    padding: 0;
    margin: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: relative;
  }
}

.text-bottom {
  display: flex;
  justify-content: space-between;

  .text-email {
    position: relative;
    left: 13vw;

    P {
      padding: 0;
      margin: 0;
      text-align: right;
      writing-mode: vertical-lr;
      float: right;
    }
  }

  .text-phone {
    display: inherit;
    align-items: flex-end;
  }
}
// fin texto comercial
// fin General

// Header
.head {
  padding: 0;
  margin: 0;
  filter: opacity(0);
  position: absolute;
  width: 100%;


  &:hover {
    filter: opacity(1);
  }

  .logo {
    float: left;
    background-color: $silver;

    a {

      img {
        width: 17.3%;
        margin-left: 1vw;

        &:hover {
          filter: opacity(0.5);
        }
      }
    }
  }

  .navbar {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-color: $silver;

    a {
      float: left;
      display: block;
      color: $dark-blue;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      letter-spacing: 1px;
      font-family: $title-font;
    }

    a:hover {
      background-color: $gray;
      color: black;
    }

    .icon {
      display: none;
    }

    a.activo {
      color: $light-blue;
    }
  }

}

@media only screen and (max-width: 750px) {
  .navbar {
    a:not(:first-child) {
        display:  none;
      }

    a.icon {
      float: right;
      display: block !important;
    }
  }
}

@media only screen and (max-width: 750px) {
  .navbar.responsive {
    position: relative;
    flex-direction: column;


    a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    a {
      float: none;
      display: block;
      text-align: center;
      background-color: $silver;
    }
  }

  .logo, .navbar {
    background-color: transparent !important;
  }
}
// fin Header
// Home
.bg-index {
  margin-bottom: 5.5vw;
  display: flex;
  width: 100%;

  .text-web {

    p {
      bottom: 2vw;
      margin-left: 1vw;
    }
  }

  .image {
    width: 80%;
  }

  .text-bottom {
    .text-email {
      position: relative;
      left: 13vw;

      P {
        margin-right: 1vw;
        margin-top: 2vw;
      }
    }

    .text-phone {
      margin-right: 1vw;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .bg-index {
    p {
      font-size: 11px;
    }

    .text-phone p {
      position: relative;
      bottom: 3vw;
    }

    .text-web p {
      bottom: 4vw;
    }
  }
}

@media only screen and (max-width: 760px) {
  .bg-index {
    p {
      font-size: 8px;
    }

    .text-phone p {
      position: relative;
      bottom: 7vw;
    }

    .text-web p {
      bottom: 9vw;
    }

    .image {
      width: 76%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .bg-index {
    p {
      font-size: 8px;
    }

    .text-phone p {
      position: relative;
      bottom: 7vw;
    }

    .text-web p {
      bottom: 9vw;
    }

    .image img {
      width: 140%;
    }
  }
}
// fin Home
// Ours
.bg-ours {
  display: flex;
  width: 100%;

  .text-ours {
    margin-left: 4%;
    margin-right: 6%;
    margin-top: 10vw;

    .title {
      font-size: 7rem;
      margin: 0;
    }

    p {
      text-align: justify;
      font-size: 14px;
    }

    .link {
      text-align: right;
      margin-top: 4vw;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .bg-ours {
    display: block;

    .imagen-ours {
      display: flex;
      justify-content: center;
    }

    .text-ours {
      width: 70%;
      margin: 0 auto 15px auto;

      .link {
        margin-bottom: 6vw;
      }
    }

    footer {
      margin-top: 6vw;
    }
  }
}

@media only screen and (max-width: 700px) {
  .bg-ours {
    h1 {
      font-size: 5rem !important;
    }

    .text-ours .link {
      margin-bottom: 9vw;
    }

    .imagen-ours {
      img {
        width: 50%;
      }
    }
  }
}
// fin Ours
// Servicios
.bg-service {
  display: flex;
  width: 100%;
  flex-direction: column;

  .title {
    font-size: 4rem;
    margin-left: 3vw;
  }

  .text-service {
    color: #40ddab;
  }

  .content-service {
    display: inherit;

    .items h3 {
      color: white;
    }
  }

  .text-web {
    margin-bottom: 4vw;
    margin-left: 6px;
  }

  .items-group {
    width: 81%;
    display: inherit;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 6vw;

    .items {
      width: 40%;
    }

    .shapes {
      margin-top: 9px;
    }

    h3 {
      text-align: left;
      font-family: $sec-font;
      padding: 0 14vw 0 0;
      margin: 20px 0 0 0;
      letter-spacing: 3px;
    }

    .shape {
      height: 2px;
      width: 5%;
      margin: 3px;
    }

    .line1 {
      background-color: #e43cfc;
    }

    .line2 {
      background-color: #40ddab;
      margin-left: 9px;
    }
  }

  .text-bottom {
    position: relative;
    bottom: 2vw;
    width: 17%;

    .text-email {
      bottom: 9vw;
    }

    .text-phone {
      position: relative;
      right: 1vw;
      bottom: 1vw;
    }
  }
}

@media only screen and (max-width: 1130px) {
  .bg-service {
    .text-bottom .text-phone {
      bottom: 3vw;
    }

    p {
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 770px) {
  .bg-service {
    .text-bottom {
      width: 27%;

      .text-email {
        left: 21vw;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .bg-service {
    height: 90vw;
    .title {
      font-size: 2rem;
    }

    .text-web {
      margin-bottom: 0;
    }

    .content-service {
      margin-top: 10vw;

      h3 {
        font-size: 14px;
      }
    }

    .text-bottom {
      width: 30%;
      bottom: 0;
    }
  }
}
// fin servicios
// Galeria
.gallery {
  margin: 1rem auto;
  width:90%;
  column-count: 3;

  .wiggle {
    img {
      width: 100%;
    }
  }
}
// fin Galeria
// Contacto
.bg-contacto {
  .contactTitle {
    margin: auto;
    width: fit-content;
    font-size: 6rem;
    letter-spacing: 7px;
    margin-bottom: 5vw;
  }

  .getTouch {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    padding-bottom: 12vw;

    .data {
      width: 40%;
    }

    a {
      color: #808080;
      text-decoration: none;
      line-height: 27px;
    }
  }

  .formContact {
    display: flex;

    form {
      width: 50%;
      display: flex;
      justify-content: center;

      .form-group {
        padding-bottom: 6vw;

        .form-item {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.5vw;

          label {
            color: white;
            margin-bottom: 4px;
          }

          input {
            background-color: #212121;
            color: white;
            font-family: $main-font;
            font-weight: 300;
            border-right: none;

            &::placeholder {
              color: white;
              font-family: $main-font;
              font-weight: 300;
              font-size: 12px;
            }
          }

          .alert {
            padding: 5px 0 0 0;
            color: red;
            font-size: 12px;
            font-family: $main-font;
            font-weight: 300;
          }

          input.button {
            border-radius: 5px;
            border: 1px solid;
            padding: 6px;
          }
        }
      }
    }
  }

}
// fin Contacto
// footer
html {
  min-height: 100%;
  position: relative;

  body {
    margin: 0;
    margin-bottom: 30px;
  }

  footer {
    margin-top: 3vw;

    .footer {
      margin-top: 15p;
      background-color: $dark-blue;
      color: $silver;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 750px) {
  h4 {
    margin: 0 25vw;
    line-height: 24px;
  }
}
// fin Footer
